@font-face {
  font-family: "Neusa Next Pro Regular";
  src: url("./assets/NeusaNextPro-Regular.ttf");
}

@font-face {
  font-family: "Neusa Next Pro Medium";
  src: url("./assets/NeusaNextPro-Bold.ttf");
}

@font-face {
  font-family: "Neusa Next Pro Condensed";
  src: url("./assets/NeusaNextPro-CondensedMedium.ttf");
}

$item-grey: #fff;
$selected-color: #000;
$yellow: #e6f8ff;
$green: #dd3a26;
$blue: #ffffff;
$purple: #82bc0d;
$disabled: #7f7f7f;
$pmr-green: #BDDC04;

html, body {
  background: $pmr-green;
  width: 100%;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Neusa Next Pro Medium', serif;
  font-weight: 100;
  font-size: 42px;
}

h2,
h3,
h4 {
  font-family: 'Neusa Next Pro Medium', sans-serif;
}

p {
  font-family: 'Neusa Next Pro Regular', sans-serif;
}

button {
  font-family: 'Neusa Next Pro Regular', sans-serif;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  width: fit-content;
  min-width: 5.5em;
  height: 3em;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 15px;
  max-width: 80vw;
  border-radius: 32px;
  line-height: 16px;
  cursor: pointer;
  border: black solid 2px;
  background: $pmr-green;
  color: black;
}

form {
  padding: 20px;
  text-align: left;
}

.App {
  text-align: center;
  width: 100%;
}

.container {
  width: 600px;
  margin: 50px auto;
  text-align: center;
}

.container-header {
  padding: 0 20px;

  a {
    color: $green;
    text-decoration: underline;
  }
}

.instructions {
  text-align: left;
}

.help-emojis {
  display: flex;
  flex-direction: column;
  position: relative;

  >div {
    display: inline-flex;
    align-items: center;
    height: 20px;
  }
}

.help-emoji {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  border-radius: 2px;
  margin-bottom: 1.5px;

  &.group-0 {
    background: $yellow;
  }

  &.group-1 {
    background: $green;
  }

  &.group-2 {
    background: $blue;
  }

  &.group-3 {
    background: $purple;
  }
}

#help-arrow {
  height: 2.2rem;
  left: 2.6rem;
  bottom: 1.4rem;
  position: absolute;
}

.header {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  background: black;
  view-transition-name: header;

  h1 {
    margin-right: 16px;
  }

  img {
    flex-shrink: 0;
  }

  .title {
    display: flex;
    align-items: center;
  }

  #gift {
    cursor: pointer;
  }
}

.start-screen {
  width: 100%;
  height: calc(100vh - 180px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-text {
  max-width: 400px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1, p {
    margin: 0.1em 0;
  }

  img {
    margin-bottom: 10px;
  }

  button {
    background: #000;
    color: white;
    margin: 30px 0;
    width: 120px;
    padding: 10px 30px;
    height: auto;
  }
}

.info-wrapper {
  margin-top: 50px;
  max-width: 600px;

  p {
    line-height: 1.5em;
    margin: 10px 0;
  }
}

.donate-button {
  background: #75b50f;
  color: white;
  border: none;
  display: inline-block;
  text-transform: uppercase;
  height: auto;
  padding: 13px 20px;
}

::view-transition-old(root) {
  animation-duration: 0.5s;
}

::view-transition-new(root) {
  animation-delay: 0.5s;
  animation-duration: 0.5s;
}

.game-wrapper {
  padding: 40px 20px;
}

.connections-wrapper {
  width: 632px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.row-complete-wrapper {
  border-radius: 6px;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 80px;
  width: 624px;
  flex-wrap: wrap;
  margin: 4px;

  &.level-0 {
    background: $yellow;
  }

  &.level-1 {
    background: $green;
  }

  &.level-2 {
    background: $blue;
  }

  &.level-3 {
    background: $purple;
  }

  .complete-header {
    width: 100%;
  }

  h3 {
    font-family: "Neusa Next Pro Medium", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }

  p {
    margin: 0;
    font-family: "Neusa Next Pro Regular", sans-serif;
    font-size: 20px;
    line-height: 20px;
  }
}

.row-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 150px;
  height: 80px;
  margin: 4px;
  font-size: 16px;
  background-color: $item-grey;
  color: black;
  outline: none;
  text-align: center;
  font-family: "Neusa Next Pro Condensed", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 6px;
  z-index: 0;
  // position: absolute;
  transition: opacity 0.4s ease;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
  overflow: hidden;
  word-break: break-word;
  text-overflow: ellipsis;
  padding: 0 4px;
  user-select: none;

  &.selected {
    color: white;
    background: $selected-color;
  }
}

.mistakes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 20px;
}

.bubbles-container {
  display: flex;
  justify-content: flex-start;
  width: 118px;
  align-items: center;
  margin-left: 5px;
}

.bubble {
  margin: 0 2px;
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#deselect-all-button {
  width: 120px;
}

#deselect-all-button[disabled], 
#submit-button[disabled] {
  border-color: #7f7f7f;
  background-color: $pmr-green;
  color: #7f7f7f;
  cursor: not-allowed;
}

#submit-button {
  background: black;
  color: white;
}

.invalid-shake {
  animation: shake ease-in 0.2s 1.5;
}

#toast {
  visibility: hidden;
  font-family: 'Neusa Next Pro Regular';
  position: fixed;
  left: 50%;
  transform: translateX(calc(-50% - 30px));
  margin: 30px;
  background-color: black;
  color: white;
  padding: 13px;
  border: none;
  border-radius: 4px;
  opacity: 1;
  font-size: 14px;
  line-height: 16px;
  z-index: 100;
  text-align: center;

  &.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2s forwards;
  }

  p {
    color: white;
    margin: 0;
  }
}

#popup {
  position: absolute;
  z-index: 8;
  justify-content: center;
  top: 100px;
  bottom: 0;
  right: 0;
  left: 0;
  align-items: flex-start;
  // background-color: rgba(255, 255, 255, 0.8);
  display: none;
  padding: 30px;

  &.show {
    display: flex;
  }
}

#popup-content {
  width: 100%;
  max-width: 520px;
  padding: 50px 32px;
  animation: slideIn 200ms;
  position: relative;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-family: 'Neusa Next Pro Medium', serif;
    font-size: 36px;
    margin: 8px 0 0 0;
    font-weight: 100;
  }

  h3 {
    font-family: 'Neusa Next Pro Medium', sans-serif;
    margin: 0.5em 0;
    font-size: 20px;
  }

  h4 {
    margin: 0.5em 0;
  }

  ul {
    margin: 15px 0 15px 35px;
  }

  li {
    font-size: 16px;
    font-family: 'Neusa Next Pro Regular', sans-serif;
    position: relative;
    margin: 20px 0;
    list-style-type: none;

    &::before {
      content: '';
      background: url('/ornament.png');
      width: 26px;
      height: 30px;
      display: block;
      background-size: contain;
      position: absolute;
      left: -40px;
      top: -8px;
    }
  }

  p {
    line-height: 1.5em;
    margin: 10px 0;
  }

  button {
    background: $purple;
    color: white;
    border: none;
    text-transform: uppercase;
    margin: 5px 0;
  }
}

#share-image {
  display: none;
}

.close-x {
  color: black;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  background: center/24px 24px no-repeat;
  background-image: url(./assets/icon-close.svg);
  cursor: pointer;
}

#emoji-recap {
  margin: 10px 0;

  .emoji-row {
    display: flex;
  }
}

.emoji {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background-color: black;
  margin: 2px 0px;

  &.yellow {
    background-color: $yellow;
  }

  &.green {
    background-color: $green;
  }

  &.blue {
    background-color: $blue;
  }

  &.purple {
    background-color: $purple;
  }
}

.page-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-page {
  width: 600px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  .nav-button {
    width: auto;
  }
}

.password-screen {
  max-width: 400px;

  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
  }

  button {
    display: inline-block;
  }

  .error {
    color: red;
  }
}

.screen {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.metrics-wrapper {
  // display: flex;
  // justify-content: center;
}

.metrics-container {
  padding: 10px;
  max-width: 200px;
}

td, th {
  padding: 5px 15px;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }

  .header {
    padding: 15px;
    width: 100%;
    // flex-direction: column;
  }

  #popup {
    top: 90px;
    padding: 30px 15px;
    align-items: flex-start;
  }

  .title {
    margin: 0;
    text-align: left;
    flex-direction: column;

    h1 {
      margin: 0;
      line-height: 24px;
      font-size: 24px;
    }

    h2 {
      line-height: 28px;
    }
  }

  .connections-wrapper {
    width: 100%;
  }

  .row-complete-wrapper {
    width: 98%;
    margin: 1%;

    h3,
    p {
      font-size: 16px;
    }
  }

  .item {
    width: 23%;
    margin: 1%;
    font-size: 13px;
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translatex(0);
  }

  25% {
    transform: translateX(-5px);
  }

  75% {
    transform: translateX(5px);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translateY(60px);
  }
}